
.copy-files-toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 8px;
	margin-top: 8px;
	margin-bottom: 12px;
}

.copy-files-textarea {
	width: 100%;
	height: 120px;
}

.copy-files-input {
	width: 100%;
}

.copy-files-spacer {
	flex-grow: 1;
	min-width: 12px;
}
